<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.HouseImageMapper">
    <select id="findList" resultType="com.atguigu.entity.HouseImage">
        select * from hse_house_image where house_id=#{houseId}
        and TYPE = #{type} and is_deleted=0
    </select>
    <insert id="insert">
        insert into
            hse_house_image
            (house_id, image_name, image_url, type)
            values
            (#{houseId},#{imageName},#{imageUrl},#{type})
    </insert>

    <!--根据id查询图片信息-->
    <select id="getById" resultType="com.atguigu.entity.HouseImage">
        select * from hse_house_image where id=#{id} and is_deleted = 0
    </select>

    <!--删除图片，将图片状态更改-->
    <delete id="delete">
        update hse_house_image set is_deleted =1, update_time= now() where id=#{id}
    </delete>
</mapper>